<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Demo</title><script type="text/javascript"
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<script src="js/angular-resource.min.js"></script>
		<script src="js/controller/app.js"></script>

</head>
<body>
   
   
   <div class="container" ng-controller="AppCtl">
      <h1>Airports</h1>
       <ul ng-repeat="airport in airports">
           <li>{{airport.code}}</li>
           <li>{{airport.city}}</li>
           <li>{{airport.name}}</li>
       </ul>
       <ul >
           <li ng-repeat="airport in airports">{{airport.code}}</li>
           
       </ul>
   </div>
</body>
</html>